<!DOCTYPE html>
<html>
  <head>
    <title>
      Edge Test
    </title>
  </head>
  <body>
    <h1>
      Edge Template Test
    </h1>
    <p>
      If you can see this, Edge templates are working!
    </p>
    <p>
      Current time: {{ new Date().toString() }}
    </p>
  </body>
</html>
